html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a,
h1,
h2,
h3,
p,
input,
button,
label {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
