.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  box-shadow: 0px 1px 20px rgb(194, 202, 255);

  .logo {
    font-size: 20px;
    padding-left: 30px;
  }
  .buttonGroup {
    padding-right: 30px;
    display: flex;
    gap: 20px;
  }
}
